.table-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-form {
  width: 95%;
  box-shadow: 0 6px 15px #8d8c8c;

  .table-body {
    overflow-y: scroll;
  }

  .no-record {
    text-align: center;

    p {
      color: rgb(179, 174, 174);
    }
  }

  th {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
  }

  .change-color:hover {
    background-color: #e6f7ff;
  }
  td {
    width: 200px;
    padding: 20px 10px;
    border-bottom: 1px solid #e8e8e8;
  }
}

.delete-div {
  cursor: pointer;
}
.delete-icon {
  color: #f80500;
}

.tooltip-header {
  display: flex;

  .tooltip-icon {
    color: orange;
    margin-top: -5px;
  }

  p {
    margin-left: 10px;
    margin-top: -7px;
  }
}

.tooltip-cancel {
  color: black;
  border: 1px solid black;
  background-color: white;
  outline: none;
  // border: none;
  padding: 0px !important;
  height: 30px;
  margin-top: 5px;
  padding: 5px 5px !important;
  cursor: pointer;
  &:hover {
    color: #40a9ff;
    border: 1px solid #40a9ff;
  }
}

.tooltip-ok {
  color: white;
  border: 1px solid white;
  padding: 5px 5px !important;
  outline: none;
  border: none;
  height: 30px;
  width: 50px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: #40a9ff !important;
  cursor: pointer;
  z-index: 100;
}

.__react_component_tooltip {
  opacity: 100% !important;
}

.table-footer {
  display: flex;
  padding: 20px;
}
.footer-content {
  margin-left: auto;
  display: flex;

  p {
    font-weight: normal !important;
    color: black !important;
    margin-right: 15px;
  }

  .left-aerrow,
  .right-aerrow {
    color: rgb(170, 162, 162);
    font-size: 20px;
    cursor: pointer;
  }

  .left-aerrow {
    margin-right: 10px;
  }
}

.search-container {
  margin-left: auto;
  position: relative;
  padding-bottom: 20px;
  height: 40px;

  .search-input {
    position: absolute;
    right: 10px;
    width: 180px !important;
    border: 1px solid black;
  }
}

.error-msg {
  color: red;
  font-size: 10px;
}

.date-show {
  text-decoration: none;
  color: black !important;
  font-weight: normal !important;
}

.react-datepicker__input-container {
  input {
    padding: 3px 5px !important;
    width: 100px !important;
  }
}
