.header {
  display: flex;
  padding-top: 50px !important;
}

.upload-btn-div {
  position: relative;

  .upload-icon {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .upload-input {
    padding-left: 30px !important;
    width: 300px;

    &:hover {
      color: #40a9ff;
      border-color: #40a9ff;
    }
  }
}

.right {
  margin-left: auto;
  display: flex;
}

.add-btn-div {
  position: relative;

  .add-icon {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .add-button {
    width: 120px;

    &:hover {
      background-color: rgb(170, 168, 168);
    }
  }
}

.download-btn-div {
  position: relative;
  .download-icon {
    position: absolute;
    top: 13px;
    left: 25px;
  }

  .download-button {
    margin-left: 10px;
    padding-left: 20px !important;
    width: 180px;
    background-color: #40a9ff;

    &:hover {
      background-color: #60aff0;
    }
  }
}

.pdf-button {
  margin-left: 10px;
  padding-left: 20px !important;
  width: 180px;
  background-color: rgb(235, 156, 10);

  &:hover {
    background-color: rgb(216, 164, 69);
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    flex-direction: column;
  }

  .right {
    padding-top: 50px;
    margin: 0 !important;
    // display: flex;
    // flex-direction: column;
  }
}
